<h2><%= t('devise.registrations.edit_profile') %> </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label t('devise.registrations.email') %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label t('devise.registrations.password') %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label t('devise.registrations.password') %>
    <em>(<%=t('devise.registrations.confirmation')%>)</em>
    <br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label t('devise.registrations.current_password') %> <br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.registrations.update'), class: "btn btn-primary btn-lg" %>
  </div>
<% end %>

<h3><%= t('devise.registrations.cancel') %></h3>

<p><%= button_to t('devise.registrations.cancel'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary btn-lg" %></p>

<%= link_to t('devise.registrations.back'), :back %>
