<body id="toppage">
<div id="t_top">
  <h3>
    <a data-toggle="collapse" data-parent="#accordion"
       href="#demo">
    * Our Mission *
        </a>
  </h3>
  <h5> Our Mission is creating the borderless world through online programing education </h5>
  </div>
    <div id="demo" class="panel-collapse collapse">
      <h4>About</h4>
      <p>We are research group at AIIT, Advanced Institute of Industrial Technology, inTokyo.<br>we are studying engineering and project management.<br>our activity is based on scrum methodyology,and we also developing software in aglie way.</p>
    </div>
<div id="t_middle">
 <h2>Team</h2>
  <div id="photo">
  <div class="img">
    <a target="_blank" href="https://github.com/pyar6329"><%= image_tag "pyar.png" %>
    </a>
    <div class="desc">Tsukasa Arima</div>
  </div>
  <div class="img">
    <a target="_blank" href="https://github.com/pyar6329"><%= image_tag "oohasi.png" %>
    </a>
    <div class="desc">yuchan</div>
  </div>
  <div class="img">
    <a target="_blank" href="https://github.com/pyar6329"><%= image_tag "kikawa.jpg" %>
    </a>
    <div class="desc">shinjukujohnny</div>
  </div>
  <div class="img">
    <a target="_blank" href="https://github.com/pyar6329"><%= image_tag "LIN.jpg" %>
    </a>
    <div class="desc">Linh</div>
  </div>
  <div class="img">
    <a target="_blank" href="https://github.com/pyar6329"><%= image_tag "olivia.jpg" %>
    </a>
    <div class="desc">olivia</div>
  </div>
  <div class="img">
    <a target="_blank" href="https://github.com/orgs/SBR2015/people/Ounennhei"><%= image_tag "wnp.jpg" %>
    </a>
    <div class="desc">Ounenhei</div>
  </div>
    </div>
  <div id="t_bo">
    <a target="_blank" href="https://github.com/SBR2015">CONTACT US</a>
    </div>
</div>
</body>